@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #84909f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #58616d;
}